.App {
  margin-top: 13rem;
  margin-bottom: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  color: var(--very-dark-cyan);
}

.calcContainer {
  width: 85%;
  border-radius: 12px;
  padding: 30px;
  /* margin: 0 auto; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  background-color: var(--white);
}

.calcContainer label {
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
}

.calcContainer input {
  color: var(--very-dark-cyan);
  font-weight: 700;
  font-size: 1.7rem;
  border: 0.2rem solid var(--light-grayish-cyan);
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}

.bg-input {
  background-color: var(--light-grayish-cyan);
}

.input {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.calcContainer input:focus {
  border: 0.2rem solid var(--strong-cyan);
  outline: var(--strong-cyan);
}

.inputGroupError {
  display: flex;
  justify-content: space-between;
}

.cantBeZero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cantBeZero h3 {
  color: red;
  margin: 0;
}

.bg-input {
  width: 100%;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px 15px 20px;
  background-color: var(--very-dark-cyan);
  border-radius: 12px;
}

.output > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output > button {
  text-align: center;
}

.output .amountLabel {
  font-weight: 700;
  color: var(--white);
  font-size: 1.6rem;
}

.output .perPerson {
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  font-size: 1.1rem;
}

.output .calcResult {
  color: var(--strong-cyan);
  font-size: 3.5rem;
  font-weight: bold;
}

.grid-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-buttons > button {
  cursor: pointer;

  border: none;
  border-radius: 4px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  max-width: 100px;
  padding: 7px 12px;
}

.grid-buttons .customInput {
  max-width: 76px;
}

button.selectedTip {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.grid-buttons .customBtn {
  background-color: var(--light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  cursor: pointer;

  border: none;
  border-radius: 4px;
  max-width: 100px;
  padding: 7px 12px;
}

.output > button {
  border: none;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.output > button:disabled {
  background-color: var(--dark-grayish-cyan);
}

@media (min-width: 700px) {
  .App {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .calcContainer {
    max-width: 1280px;
    width: 60vw;
    flex-direction: row;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
